# Godot 4+
.import/
export.cfg
export_presets.cfg

# Cache
.cache/
.godot/

# Archivos temporales
*.tmp
*.log

# Sistema
.DS_Store
Thumbs.db

# Archivos de compilación/exportación
build/
dist/
*.exe
*.apk
*.aab

# Documentación y GDD
MANUAL_LSG-Core-API.md
MANUAL_LSG-Auth - Servicio de Autenticación.md
GDD/